database/*
!database/interface.py
!database/connection.py

!database/boosts/db_boosts.cpp
!database/boosts/setup.py
!database/boosts


database/__pycache__
database/__pycache__/*
database/boosts/__pycache__/*
database/boosts/__pycache__

/__pycache__
/__pycache__/*